.contact {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.contact-form input {
  margin: 2% 0;
  padding: 2% 2.5%;
  border-radius: 2.5px;
} 

.contact-form textarea {
  margin: 2% 0;
  padding: 2%;
  border-radius: 2.5px;
}

.contact-form button {
  width: 200px;
  align-self: center;
  padding: 1%;
  border-radius: 2.5px;
  background-color: white;
  border: none;
}

.number {
  margin-top: 5%;
}