@font-face {
  src: url(../fonts/Avenir-Next-Light/Metropolis-Medium.otf);
  font-family: Avenir;
}

@font-face {
  src: url(../fonts/Avenir-Next-Light/Metropolis-Bold.otf);
  font-family: Avenir-Bold;
}

@font-face {
  src: url(../fonts/Avenir-Next-Light/Metropolis-Light.otf);
  font-family: 'Inter', sans-serif;}

.home {
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2% 0 0;
  height: 7.5vh;
}

.header svg {
  color: white;
}

.main {
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 5rem;
  margin: 0;
}

#sweeney {
  font-weight: bold;
  display: inline;
}

#technologies {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.description {
  font-size: 1.2rem;
  margin: 2% 0;
}

